<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>

        <div class="container mb-3">

            <div class="jumbotron">
                <h1>My Website</h1>
                <P>제 웹사이트를 방문해 주셔서 감사합니다!</p>
            </div>
            <a>카테고리</a>
            <br>
            <div>
                <a class="btn btn-primary" href="">공모전</a>
                <a class="btn btn-primary" href="">대외활동</a>
                <a class="btn btn-primary" href="">인턴</a>
                <a class="btn btn-primary" href="">서포터즈</a>
            </div>
        </div>
</body>

</html>